.contenitore_img {
    position: relative;
    display: contents;
}

img {
	object-fit: contain;
}

.frecciaAvanti, .frecciaIndietro {
	cursor: pointer;
    font-size: 4rem;
}

.contenitore_indicatori {
    list-style: none;
    position: absolute;
    bottom: 20px;
    height: 50px;
    background-color: #00000069;
}

.indicatore {
    background-color: #ffffff;
    width: 12px;
    height: 12px;
    cursor: pointer;
}

.selezionato {
    background-color: #e4d500;
   
}

